<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Keywords>
				<Keyword>acumatica</Keyword>
			</Keywords>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
			<Title>Cache Attached Event with the Name Convention Signature</Title>
			<Author>Acumatica</Author>
			<Description>
The cache attached graph event handler declared with the classic naming convention signature:
[PXMergeAttributes(Method = MergeMethod.[Merge])]
protected virtual void [DAC]_[Field]_CacheAttached(PXCache sender)

The cache attached event handler should be used to override attributes of a DAC field that are declared directly within the DAC.
			</Description>
			<Shortcut>_cacheAtt</Shortcut>
		</Header>
		<Snippet>
			<Imports>
				<Import>
					<Namespace>PX.Data</Namespace>
				</Import>
			</Imports>
			<Declarations>
				<Literal Editable="true">
					<ID>Merge</ID>
					<ToolTip>Specify attributes of the Merge method</ToolTip>
					<Default>Merge</Default>
				</Literal>
				<Literal Editable="true">
					<ID>DAC</ID>
					<ToolTip>Replace with a DAC name</ToolTip>
					<Default>DAC</Default>
				</Literal>
				<Literal Editable="true">
					<ID>Field</ID>
					<ToolTip>Replace with a name of the DAC field</ToolTip>
					<Default>Field</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp" Delimiter="$" Kind="method decl">
				<![CDATA[		[PXMergeAttributes(Method = MergeMethod.$Merge$)]
		protected virtual void $DAC$_$Field$_CacheAttached(PXCache sender) { }
		$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>