<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PX.Analyzers.PXAnalysersSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="PX.Analyzers.Vsix.Coloriser.Settings.PXAnalyzers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.36.0" newVersion="1.1.36.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PX.Analyzers.PXAnalysersSettings>
      <setting name="UseRegexColoriser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColoringEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </PX.Analyzers.PXAnalysersSettings>
    <PX.Analyzers.Vsix.Coloriser.Settings.PXAnalyzers>
      <setting name="UseRegexColoriser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TurnOffColorising" serializeAs="String">
        <value>False</value>
      </setting>
    </PX.Analyzers.Vsix.Coloriser.Settings.PXAnalyzers>
  </userSettings>
</configuration>